<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.mapper.UserMapper">


	<select id="userList" resultType="com.web.domain.UserVO">
        SELECT
            *
        FROM TB_DEVICE
    </select>
    
    <insert id="userInsert" parameterType="com.web.domain.UserVO">
        INSERT INTO
        TB_DEVICE (CO_USERNAME, CO_ANDROID_ID)
        VALUES(#{co_username}, #{co_android_id})
    </insert>
    
    <select id="getUser" resultType="com.web.domain.UserVO">
        SELECT
            CO_USERNAME, CO_ANDROID_ID 
        FROM TB_DEVICE
        WHERE
            CO_USERNAME = #{co_username} AND CO_ANDROID_ID = #{co_android_id}
    </select>
   
    
    <delete id="userDelete">
        DELETE FROM TB_DEVICE WHERE CO_USERNAME = #{co_username} AND CO_ANDROID_ID = #{co_android_id}
    </delete>
    
</mapper>