<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.mapper.CertMapper">
 
 	<select id="certSearch" parameterType="String" resultType="com.web.domain.CertVO">
        SELECT
            *
        FROM TB_CERTIFICATION
        WHERE
            CO_NAME = #{co_name}
    </select>
    
    <insert id="certInsert" parameterType="com.web.domain.CertVO">
        INSERT INTO
        TB_CERTIFICATION (CO_NAME, CO_ACTIVE_DATE, CO_EXP_DATE, CO_CERT_PW, CO_CERT_DER, CO_CERT_KEY, CO_CERTIFICATION)
        VALUES(#{co_name}, #{co_active_date}, #{co_exp_date}, #{co_cert_pw}, #{co_cert_der}, #{co_cert_key}, #{co_certification}) 
        ON DUPLICATE KEY UPDATE CO_NAME = #{co_name}, CO_ACTIVE_DATE = #{co_active_date},CO_EXP_DATE = #{co_exp_date},
         CO_CERT_PW = #{co_cert_pw}, CO_CERT_DER = #{co_cert_der}, CO_CERT_KEY = #{co_cert_key}, CO_CERTIFICATION = #{co_certification} 
    </insert>
   
    <update id="certUpdate" parameterType="String">
        UPDATE TB_CERTIFICATION
            SET CO_CERT_PW = #{co_cert_pw}
        WHERE 
        	CO_NAME = #{co_name}
    </update>
    
    <delete id="certDelete" parameterType="String">
        DELETE FROM TB_CERTIFICATION WHERE CO_NAME = #{co_name}
    </delete>
    
</mapper>
