<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.web.mapper.CertMapper">
 
    <insert id="certInsert" parameterType="com.web.domain.CertVO">
        INSERT INTO
        TB_CERTIFICATION (CO_NAME, CO_ACTIVE_DATE, CO_EXP_DATE, CO_CERT_PW, CO_CERT_DER, CO_CERT_KEY, CO_CERTIFICATION)
        VALUES(#{co_name},#{co_active_date},#{co_exp_date},#{co_cert_pw},#{co_cert_der}, #{co_cert_key}, #{co_certification}) 
    </insert>
   
   <!-- 
   
    <update id="certUpdate" parameterType="com.web.domain.CertVO">
        UPDATE TB_CERTIFICATION
            SET
        <if test="name != null">
            NAME = #{name}
        </if>
        <if test="name != null and content != null"> , </if>
        <if test="cert != null">
            CERT = #{cert}
        </if>
        WHERE NO = #{no}
    </update>
    
    <delete id="certDelete" parameterType="int">
        DELETE FROM BOARD WHERE NO = #{no}
    </delete>
    
    -->
    
</mapper>
