<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.web.mapper.SiteMapper">
 
 	<select id="siteList" parameterType="String" resultType="com.web.domain.SiteVO">
        SELECT
            *
        FROM TB_SITEINFO
        WHERE
            CO_NAME = #{co_name}
    </select>
 	
 	<select id="siteSearch" parameterType="String" resultType="com.web.domain.SiteVO">
        SELECT
            *
        FROM TB_SITEINFO
        WHERE
            CO_NAME = #{co_name}
        AND CO_DOMAIN = #{co_domain}    
    </select>
    
    <insert id="siteInsert" parameterType="com.web.domain.SiteVO">
        INSERT INTO
        TB_SITEINFO (CO_NAME, CO_DOMAIN, CO_ID, CO_PW)
        VALUES(#{co_name},#{co_domain},#{co_id},#{co_pw}) 
    </insert>
 
    <update id="siteUpdate" parameterType="HashMap">
        UPDATE TB_SITEINFO
            SET CO_PW = #{co_pw}
        WHERE 
        	CO_NAME = #{co_name}
        AND CO_DOMAIN = #{co_domain}
    </update>
    
    <delete id="siteDelete" parameterType="String">
        DELETE FROM TB_SITEINFO
        WHERE 
        	CO_NAME = #{co_name} 
        AND CO_DOMAIN = #{co_domain}
    </delete>
    
    <delete id="siteListDelete" parameterType="String">
        DELETE FROM TB_SITEINFO
        WHERE 
        	CO_NAME = #{co_name}
    </delete>
    
</mapper>
